html, body, .body-container {
  height: 100%;
  background: url(/images/cream_dust.png) repeat 0 0;
  color: #666666;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

h3 {
  font-size: 26px;
  margin-bottom: -16px;
  color: #666666; }

h4 {
  color: #666666; }

a {
  color: #fc9c00; }
  a:hover {
    color: #fc9c00;
    text-decoration: none; }
  a:visited {
    color: #fc9c00; }

ul {
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 0.5em;
  margin: 0; }

header.page-header {
  width: 100%;
  margin: 0;
  padding: 0.8em 0 0.95em 0.6em;
  font-weight: bold;
  font-size: 2.2em;
  letter-spacing: -0.05em;
  background-color: #CCC;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=5);
  z-index: 1;
  text-align: left;
  text-shadow: 1px 1px 1px #777777; }
  header.page-header a {
    text-decoration: none;
    color: #6B6B6B; }
    header.page-header a:hover {
      text-decoration: none; }
      header.page-header a:hover span {
        text-decoration: none; }
  header.page-header span {
    color: #000; }

section.body-container {
  width: 38em;
  min-height: 100%;
  margin: 0em auto;
  overflow: auto;
  padding: 0em 2em 0em 2em; }
  section.body-container h2 {
    color: #666; }

footer {
  padding: 17px 0 18px 0;
  border-top: 1px solid #333333;
  background-color: #333333;
  width: 100%;
  clear: both;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=8); }
  footer p {
    color: #000;
    font-weight: bold;
    text-shadow: 1px 1px 1px #777777; }
  footer a {
    color: #999;
    background: url(/images/icons_sprite.png) left top no-repeat;
    width: 18px;
    height: 18px;
    padding: 0;
    border: 0;
    display: block;
    overflow: hidden;
    float: right; }
    footer a:hover {
      color: #efefef; }

.bottoms {
  margin-bottom: -32px; }

.about-me {
  display: inline; }

.second-row {
  float: right;
  text-align: left;
  width: 50%; }

.first-row {
  width: 50%; }
  .first-row .fontz {
    padding-left: 0.3em; }

.page-break {
  border-top: solid 1.5px #c5c9c9; }

.spacer-block {
  margin-bottom: 30px; }

.fontz {
  color: #666666;
  padding-left: 1em; }
  .fontz a {
    font-weight: bold;
    color: #fc9c00; }
    .fontz a:hover {
      text-decoration: none;
      color: #fc9c00; }
    .fontz a:visited {
      color: #fc9c00; }

.post-block ul {
  list-style-type: none; }

.blue {
  color: #fc9c00; }
  .blue a {
    color: #fc9c00; }
  .blue:hover {
    text-decoration: none;
    color: #fc9c00; }
  .blue:visited {
    color: #fc9c00; }

.post h2, h3 {
  padding-bottom: 0.5em; }

.highlight .bash, .highlight .html {
  color: black; }
.highlight .nv, .highlight .nt, .highlight .cp {
  color: #fc9c00; }

.spacer {
  height: 5.5em; }

.page-footer {
  background-color: #333333;
  position: relative;
  width: 100%;
  margin-top: -120px;
  height: 120px;
  clear: both;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=8); }

.footer-container {
  width: 38em;
  margin: 0em auto;
  padding: 1em 2em 2em 2em;
  color: #000;
  font-weight: bold; }

.padd {
  padding-left: 1em; }

.left-padding {
  padding-left: 40px; }

.left-padding5 {
  padding-left: 5px; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -66px; }

.push {
  height: 63px; }

/* not required for sticky footer; just pushes hero down a bit */
.wrapper > .container {
  /*padding-top: 60px;*/ }

.thumbnail {
  border: 0px solid white;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none; }

a.thumbnail:hover {
  border-color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
