html, body, .body-container{
  height: 100%;
}

header.page-header {
  width: 100%;
  margin: 0;
  padding-top: 0.8em;
  padding-bottom: 0.95em;
  padding-left: 0.6em;
  font-weight: bold;
  font-size: 2.2em;
  letter-spacing: -0.05em;
  background-color: #CCC;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=5);
  z-index: 1;
  text-align: left;
}

header.page-header a {
  text-decoration: none;
  color: #444;
}
header.page-header span {
  color: #000;
}
header.page-header a:hover {
  text-decoration: none;
}

body > .body-container {
  height: auto;
  min-height: 100%
}

#main {
  padding-bottom: 120px;
}

section.body-container {
  width: 38em;
  min-height: 100%;
  margin: 0em auto;
  overflow: auto;
  padding: 0em 2em 0em 2em;
}
section.body-container h2 {
  color: #666;
}
.page-break {
  border-top: solid 1.5px #C5C9C9;
}

.contact-form legend {
  font-size: 1.2em;
  color: #666;
}

.contact-form {
  text-align: left;
  color: #ccc;
}

.contact-form fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.contact-form label {
  display: block;
  cursor: pointer;
  color: #666;
}

.contact-form label span {
  color: #cc0000;
  font-size: 0.8em;
  font-style: italic;
}

.contact-form .reddit p {
  color: #cc0000;
  font-size: 0.8em;
  font-style: italic;
  margin-top: -1em;
}

.contact-form input {
  width: 20em;
  display: inline;
}

.contact-form .different button {
  width: 8em;
  float: right;
}

.contact-form textarea {
  width: 20em;
  height: 8em;
  resize: none;
}

.spacer {
  height: 5.5em;
}

.page-footer {
  background-color: #333333;
  position: relative;
  width: 100%;
  margin-top: -120px;
  height: 120px;
  clear: both;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter:alpha(opacity=8);
}

.footer-container {
  width: 38em;
  margin: 0em auto;
  padding: 1em 2em 2em 2em;
  color: #fff;
}

/* CLEAR FIX*/
.clearfix:after {content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
















