body {
  background-color: transparent;
  color: $dark-font;
  font-family: 'Roboto', sans-serif;
  max-width: 40.625em;
  margin: 0 auto;
  padding: 1.250em;
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: $links-font-color;

  &:hover {
    color: $links-font-color-hover;
  }
}

footer {
  text-align: center;
}

p {
  white-space: normal;
  word-wrap: break-word;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}
