* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#content-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -120px; /* the bottom margin is the negative value of the footer's height */
}

#push {
  height: $sticky-height;
}

#footer {
  text-align: center;
  height: $sticky-height;
  padding: 46px 0;
  color: $white;
  background-color: $azul-pargo;
  a {
    text-transform: none;
    font-size: 12px;
    color: $white;
    &:visited {
      color: $white;
    }
    &:link {
      color: $white;
    }
  }
}

body {
  color: $azul;
  background-color: $cloud;
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-transform: lowercase;
  text-decoration: none;
  padding: 6px;
  &:visited {
    color: $azul;
  }
  &:link {
    color: $azul;
  }
}

h1 {
  font-size: 42px;
  font-weight: bold;
  a {
    text-transform: none;
    padding: 0;
  }
}

h2 {
  font-size: 36px;
  margin: 16px 0 16px 0;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 12px;
}

ul {
  list-style-type: square;
  display: block;
  margin: 0 0 20px 20px;
  li a {
    text-decoration: underline;
    text-transform: none;
  }
}

p {
  margin: 14px 0 14px 0;
  a {
    text-transform: none;
    text-decoration: underline;
  }
}
