$white: rgb(255, 255, 255);
$azul: rgb(52, 73, 94);
$azul-pargo: rgb(52, 152, 219);
$azul-pargo2: rgba(82, 167, 224, 1);
$azul-oscuro: rgb(44, 62, 80);
$cloud: rgb(236, 240, 241);
$verde: rgb(22, 160, 133);
$anaranjado: rgb(230, 126, 34);
$gris: rgb(189, 195, 199);
$red: rgb(231, 76, 60);

$sticky-height: 120px;
