.dark-links {
  a {
    color: $dark-font;
    text-decoration: none;

    &:hover {
      color: $dark-font-hover;
    }

    &:visited {
      color: $dark-font;
    }
  }
}

.inline-code {
  code {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 0.18rem;
    color: $dark-font;
    font-size: 85%;
    padding: 0.2em 0;
    margin: 0;

    &:before {
      letter-spacing: -0.2em;
      content: "\00a0"
    }

    &:after {
      letter-spacing: -0.2em;
      content: "\00a0"
    }
  }
}
