.header {
  text-align: center;

  .name {
    display: block;
    font-size: 2.2em;

    a {
      font-weight: normal;
      text-decoration: none;
    }
  }

  .menu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 3em;

    a {
      color: $dark-font;

      &:hover {
        color: rgba( $dark-font, 0.9 );
      }
    }

    li {
      display: inline;
      text-decoration: underline;
      margin-right: 0.8em;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.posts {
  padding-left: 0;
  line-height: 1.4em;
  list-style: none;

  a {
    color: $links-font-color;

    &:hover {
      color: rgba( $links-font-color , .85);
    }
  }

  li {
    padding: 0.315em;
    border-bottom: 1px solid rgba(235, 235, 235, 1);

    &:last-child {
      margin-bottom: 2em;
    }

    span {
      color: rgba(99, 99, 99, 1);
      float: right;
      font-size: 0.8em;
      margin-left: 1.4em;
    }
  }
}

.social-icons {
  padding-left: 0;
  list-style: none;
  font-size: 1.6em;

  a {
    color: $dark-font;

    &:hover {
      color: rgba( $dark-font, 0.9 );
    }
  }

  li {
    display: inline;
    margin-right: 0.4em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.center-element {
  display: block;
  text-align: center;
  margin: 0 auto;
}
