.dark-links {
  a {
    color: $dark-font;
    font-weight: 300;
    text-decoration: none;

    &:hover {
      color: $dark-font-hover;
    }

    &:visited {
      color: $dark-font;
    }
  }
}

.inline-code {
  code {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 0.18rem;
    color: $dark-font;
    font-size: 85%;
    padding: 0.2em 0;
    margin: 0;

    &:before {
      letter-spacing: -0.2em;
      content: "\00a0"
    }

    &:after {
      letter-spacing: -0.2em;
      content: "\00a0"
    }
  }
}

.header {
  text-align: center;
  margin-bottom: 4em;

  .name {
    display: block;
    text-transform: lowercase;
    font-size: 2.4em;
    @extend .dark-links;
  }

  .menu {
    list-style: none;
    padding-left: 0;
    @extend .dark-links;

    li {
      display: inline;
      margin-right: 0.8em;

      a {
        font-weight: 400;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.posts-list {
  padding-left: 0;
  list-style: none;

  li {
    padding: 0.325em;

    &:last-child {
      margin-bottom: 2em;
    }

    span {
      float: right;
      font-size: 0.65em;
      text-transform: uppercase;
      margin-top: 0.6em;
      margin-left: 1.4em;
    }
  }
}

.social-icons {
  padding-left: 0;
  list-style: none;
  font-size: 1.6em;
  @extend .dark-links;

  li {
    display: inline;
    margin-right: 0.4em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.active {
  text-decoration: underline;

  a {
    color: $dark-font-hover !important;
  }
}

.date {
  color: $date-font;
  text-transform: uppercase;
}

.gravatar {
  margin: 0.3em 1.2em 1em 0;
  border-radius: 0.3rem;
}

@mixin img-responsive($display: block) {
  display: $display;
  background: transparent;
  max-width: 100%;
  height: auto;
}

.post {
  img {
    @include img-responsive();
    margin: 0 auto;
    border: 0.0625em solid $light-gray;
    padding: 0.1875em 0.1875em;
  }

  blockquote {
    border-left: 0.25em solid $light-gray;
    padding: 0 1em;
    margin: 1em 0;
    color: $lighter-font;
    @extend .inline-code;
  }

  li, p {
    @extend .inline-code;
  }

  .video {
    @include img-responsive();
    width: 16em;
    height: 9em;
    margin: 0 auto;
    border: 0.0625em solid $light-gray;
    padding: 0.1875em 0.1875em;
  }
}

.center-element {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.highlight {
  margin: 1em 0;
}
