.post > h1 a {
  color: $white;
  background-color: $red;
  padding: 6px;
  border-radius: 0.25rem;
  letter-spacing: -1px;
  word-spacing: 8px;
  line-height: 66px;
}

.post > h2 {
  color: $white;
  background-color: $azul;
  padding: 6px;
  border-radius: 0.25rem;
}

.post > h3 {
  color: $azul-oscuro;
  margin: 16px 0 16px 0;
}

.post > h5 {
  color: $azul-oscuro;
  margin: 10px 0 10px 0;
}

.post > h6 {
  color: $azul-oscuro;
  margin: 8px 0 8px 0;
}

.post {
  border-bottom: 2px solid $white;
}

pre {
  padding: 9.5px;
  color: rgb(127, 140, 141);
  background-color: rgb(189, 195, 199);
  border: 2px solid $white;
  border-radius: 0.25rem;
  span {
    color: $white;
  }
}

.date {
  text-transform: uppercase;
  padding-bottom: 12px;
  border-bottom: 2px solid $white;
}

#disqus_thread {
  margin: 20px 0 12px 0;
}
