$dark-font: rgba(68, 68, 68, 1);
$dark-font-hover: rgba($dark-font, 0.9);
$links-font-color: rgba(66, 139, 202, 1);
$links-font-color-hover: rgba($links-font-color, .85);
$light-gray: rgba(235, 235, 235, 1);
