<div class="header">
  <div class="container">
    <section class="name">
      <a href="/">alberto<b>grespan</b></a>
    </section>
    <ul class="menu">
      <li><a href="/">Blog</a></li>
      <li><a href="/wiki.html">Wiki</a></li>
      <li><a href="/about.html">About</a></li>
      <li><a href="/projects.html">Projects</a></li>
    </ul>
    <ul class="social">
      <li><a href="http://github.com/albertogg"><i class="icon-github-sign"></i></a></li>
      <li><a href="http://twitter.com/albertogg"><i class="icon-twitter-sign"></i></a></li>
      <li><a href="http://feeds.feedburner.com/albertogg"><i class="icon-rss-sign"></i></a></li>
    </ul>
  </div> <!-- class containter -->
</div> <!-- class header -->
