// Required variables for the themes mixins
$dark-theme: "dark-theme";
$light-theme: "light-theme";

// TokyoNight Day
$day-bg: #eceef4;
$day-bg-dark: #dde2ee;
$day-bg-highlight: #e4e8f2;
$day-fg: #6172b0;
$day-fg-dark: #68709a;
$day-link: #2e7de9;
$day-accent: #007197;
$day-border: #b4b5b9;

// TokyoNight Moon
$moon-bg: #222436;
$moon-bg-dark: #1e2030;
$moon-bg-highlight: #2f334d;
$moon-fg: #c8d3f5;
$moon-fg-dark: #828bb8;
$moon-link: #82aaff;
$moon-accent: #86e1fc;
$moon-border: #3b4261;

// Resume variables
$dark-font: #555555;
$links-font: $day-link;
$print-font: #252525;

$themes: (
  $light-theme: (
    "bg-color": $day-bg,
    "bg-elevated": $day-bg-highlight,
    "bg-color-code": $day-bg-dark,
    "font-color": $day-fg,
    "font-color-muted": $day-fg-dark,
    "font-color-highlight": $day-fg,
    "link-color": $day-link,
    "accent-color": $day-accent,
    "border-color": $day-border,
  ),
  $dark-theme: (
    "bg-color": $moon-bg,
    "bg-elevated": $moon-bg-highlight,
    "bg-color-code": $moon-bg-dark,
    "font-color": $moon-fg,
    "font-color-muted": $moon-fg-dark,
    "font-color-highlight": $moon-fg,
    "link-color": $moon-link,
    "accent-color": $moon-accent,
    "border-color": $moon-border,
  )
);
