<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.Analytics.Google.Id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ .Site.Params.Analytics.Google.Id }}');
    </script>
    <!-- End Global site tag (gtag.js) - Google Analytics -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="QWmLu6t80Hd6FFgS7MaFl_UMcFLXqOLwd08_u-HXzsk">
    <meta name="description" content="{{ .Params.Description }}">
    <meta name="author" content="{{ .Site.Params.Author }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ .Site.Params.Connect.Twitter.Handle }}">
    <meta name="twitter:title" content="{{ .Page.Title }}">
    <meta name="twitter:description" content="{{ .Page.Description }}">
    <meta name="twitter:creator" content="@{{ .Site.Params.Connect.Twitter.Handle }}">
    <meta name="twitter:image" content="{{ .Site.Params.Gravatar.Url }}?s=250">
    <title>{{ .Page.Title }} &ndash; {{ .Site.Params.Author }}</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900" rel="stylesheet">
    {{ $style := resources.Get "site/scss/style.scss" | resources.ToCSS (dict "outputStyle" "compressed") }}
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}">
  </head>
  <body>
    <div id="content-wrapper">
      {{ partial "header.html" . }}
      {{ block "main" . }}
      {{ end }}
    </div> <!-- id content-wrapper -->
    {{ partial "footer.html" . }}
  </body>
</html>
