<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" Content-Encoding="gzip">
    <meta name="description" content="{{ .Params.description }}">
    <meta name="author" content="{{ .Site.Author.Name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="QWmLu6t80Hd6FFgS7MaFl_UMcFLXqOLwd08_u-HXzsk">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div id="content-wrapper">
      {{ partial "header.html" . }}
      {{ block "main" . }}
      {{ end }}
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
