{{ define "main" }}
  <div id="post" class="post">
    <h1>{{ .Title }}</h1>
    <div class="date">
      <p>{{ .Date.Format "January 2, 2006" }}</p>
    </div> <!-- class date -->
    {{ .Content }}
    <div class="closing">
      By <a href="https://twitter.com/albertogg" class="twitter-follow-link">@{{ .Site.Params.Connect.Twitter.Handle }}</a>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://albertogrespan.com{{ .URL }}" data-text="{{ .Title }}" data-via="{{ .Site.Params.Connect.Twitter.Handle }}">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div> <!-- class closing -->
  </div> <!-- id class post -->
{{ end }}
