<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" Content-Encoding="gzip" >
  <meta name="google-site-verification" content="QWmLu6t80Hd6FFgS7MaFl_UMcFLXqOLwd08_u-HXzsk" />
  <title>{{ page.title }}</title>
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script type="text/javascript" src="/js/analytics.js"></script>
</head>
<body>
  <div class="header">
    <div class="container">
      <section class="name">
        <a href="/">alberto<b>grespan</b></a>
      </section>
      <ul class="menu">
        <li><a href="#">Blog</a></li>
        <li><a href="#">Wiki</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="#">Projects</a></li>
      </ul>
      <ul class="social">
        <li><a href="http://github.com/albertogg"><i class="icon-github-sign"></i></a></li>
        <li><a href="http://twitter.com/albertogg"><i class="icon-twitter-sign"></i></a></li>
        <li><a href="http://feeds.feedburner.com/albertogg"><i class="icon-rss-sign"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="span6 offset3">
          <div class="spacer"><a name="ho"></a></div>
            {{ content }}
        </div>
      </div>
    </div>
    <div class="push"><!--//--></div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="span6 offset3">
          <p> &copy; 2013 albertogrespan.com, All Rights Reserved. </p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
