  <!DOCTYPE html>
  <html>
  <head>
    <meta name="google-site-verification" content="QWmLu6t80Hd6FFgS7MaFl_UMcFLXqOLwd08_u-HXzsk" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <header class="page-header">
      <a href="/">alberto<span>grespan</span>.com</a>
    </header>
    <section class="body-container">
      <div id="main" class="clearfix">
      <div class="spacer"><a name="ho"></a></div>
        <h2>#Blog</h2>
        <div class="page-break">
          <a name="blog"></a>
        </div>
        <div class="spacer-block">
          <a name="space"></a>
        </div>
        <h2>#About</h2>
        <div class="page-break">
          <a name="about"></a>
        </div>
        <div class="spacer-block">
          <a name="space"></a>
        </div>
        <div class="about-me">
          <div class="second-row">
            <h3>Hello, strager!</h3>
            <p> My name is Alberto Grespan, I'm a Computer Engineer from Caracas, Venezuela.</p>
          </div>
          <div class="first-row">
            <ul class="thumbnails">
              <li class="span3">
                <a href="#" class="thumbnail">
                  <img src="http://placehold.it/260x180" alt="My-pic">
                </a>
              </li>
              <li class="fontz"> Download my <a href="#" title="resume">curriculum vitae (CV)</a></li>
            </ul>
          </div>
        </div>
        <h2>#Contact</h2>
        <div class="page-break">
          <a name="contact"></a>
        </div>
        <div class="spacer-block">
          <a name="space"></a>
        </div>
        <div class="fontz">
          <p>Feel free to contact me at: 
            <a href="mailto:ailto:support@albertogrespan.com">support@albertogrespan.com</a>
          </p>
        </div>
        <form id="myform" action="mailto:support@albertogrespan.com" class="contact-form">
          <fieldset>
            <legend>Your Contact Details</legend>
              <div>
                  <label for="author">Name: <span>*</span></label>
                  <input name="author" id="author" type="text" required="true" />
              </div>
              <div>
                  <label for="email">Email Address: <span>*</span></label>
                  <input name="form[email]" id="email" type="email" required="true" />
              </div>
              <div>
                  <label for="text">Message: <span>*</span></label>
                  <textarea name="text" type="text" required="true" placeholder="Hi, try to keep it short!"></textarea>
              </div>
              <div class="different">
                <input type="submit" class="btn" value="Send" />
              </div>
              <div class="reddit">
                <p>* All fields are required.</p>
          </fieldset>
        </form>
      </div>
    </section>
    <footer class="page-footer">
      <div class="footer-container">
        <p> Copyright 2012, albertogrespan.com </p>
      </div>
    </footer>
  </body>
  </html>