---
layout:   default
---

<div class="post">
  {% include header.html %}
  {{ content }}
</div>

<h2 class="drop">#Media</h2>
<div class="page-break">
  <a name="contact"></a>
</div>
<div class="spacer-block">
  <a name="space"></a>
</div>
<div class="fontz">
  <p>Feel free to contact me at: 
    <a href="mailto:support@albertogrespan.com">support@albertogrespan.com</a>
  </p>
  <p>Follow me at twitter: <a href="http://twitter.albertogrespan.com">@albertogg</a> add me on Google+: <a href="http://gplus.to/albertogg">+albertogg </a> or check out my repo at: <a href="http://github.com/albertogg">github.com</a>
  </p>
</div>
