body {
  background-color: transparent;
  color: $dark-font;
  font-family: 'Merriweather', serif;
  max-width: 36em;
  margin: 0 auto;
  padding: 1.25em;
  line-height: 1.6;
  font-size: 1.38rem;
  font-weight: 300;
}

footer {
  text-align: center;
  margin-top: 3rem;
}

a {
  text-decoration: none;
  color: $links-font;
  border-bottom: 1px solid $links-border;

  &:hover {
    color: $links-font;
    border-color: $links-font;
  }
}

p {
  white-space: normal;
  word-wrap: break-word;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-weight: bold;
}

hr {
  width: 25%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 2px;
  border: 0;
  background-color: $blue;
}
