:root {
  color-scheme: light dark;
  @include light(--bg-color, bg-color);
  @include light(--bg-color-code, bg-color-code);
  @include light(--font-color, font-color);
  @include light(--font-color-highlight, font-color-highlight);
  @include light(--link-color, link-color);
}

/* switch to dark mode color */
@media (prefers-color-scheme: dark) {
  :root {
    @include dark(--bg-color, bg-color);
    @include dark(--bg-color-code, bg-color-code);
    @include dark(--font-color, font-color);
    @include dark(--font-color-highlight, font-color-highlight);
    @include dark(--link-color, link-color);
  }
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: 'Merriweather', serif;
  max-width: 36em;
  margin: 0 auto;
  padding: 1.25em;
  line-height: 1.5;
  font-size: 1.38rem;
  font-weight: 300;
}

footer {
  text-align: center;
  margin-top: 3rem;
}

a {
  text-decoration: none;
  color: var(--link-color);

  &:hover {
    color: var(--link-color);
    border-color: var(--link-color);
    border-bottom: 2px solid var(--link-color);
  }
}

p {
  white-space: normal;
  word-wrap: break-word;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: bold;
  color: var(--font-color-highlight)
}

hr {
  width: 25%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 2px;
  border: 0;
  background-color: var(--link-color);
}
