.dark-links {
  a {
    color: var(--font-color);
    text-decoration: none;

    &:visited {
      color: var(--font-color);
    }
  }
}

.inline-code {
  code {
    background-color: var(--bg-color-code);
    border-radius: 0.18rem;
    color: var(--font-color-highlight);
    font-size: 85%;
    padding: 0.2em 0;
    margin: 0;

    &:before {
      letter-spacing: -0.2em;
      content: "\00a0"
    }

    &:after {
      letter-spacing: -0.2em;
      content: "\00a0"
    }
  }
}
