body {
  background-color: transparent;
  color: $dark-font;
  font-family: 'Merriweather', serif;
  max-width: 36em;
  margin: 0 auto;
  padding: 1.25em;
  line-height: 1.6;
  font-size: 1.38rem;
  font-weight: 300;
}

footer {
  text-align: center;
  margin-top: 3em;
}

a {
  text-decoration: none;
  color: $links-font-color;
  border-bottom: 1px solid $links-border-color;

  &:hover {
    color: $links-font-color;
    border-color: $links-font-color;
  }
}

p {
  white-space: normal;
  word-wrap: break-word;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-weight: bold;
}
