$dark-font: rgba(85, 85, 85, 1);
$dark-font-hover: rgba($dark-font, 0.8); // font color
$lighter-font: rgba(153, 153, 153, 1); // font from blockquotes
$date-font: rgba(204, 204, 204, 1); // #ccc date color
$links-font-color: rgba(66, 139, 202, 1);
$links-font-color-hover: rgba($links-font-color, .85);
$light-gray: rgba(235, 235, 235, 1); // blockquote left border
