$dark-font: rgba(85, 85, 85, 1);
$dark-font-hover: rgba($dark-font, 0.8); // font color
$lighter-font: rgba(153, 153, 153, 1); // font from blockquotes
$date-font: rgba(204, 204, 204, 1); // #ccc date color
$blue: rgba(53, 126, 252, 1);
$links-font-color: $blue;
$links-border-color: rgba(236, 236, 236, 1);
$light-gray: $links-border-color; // blockquote left border
